<% content_for :header do -%>
	My <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<h2>Links</h2>

	<ul>
        <li><a href="http://ddd-primary3/php/dddtoolslaunch.html">DDD Tools launch</a></li>
        <li><a href="http://ddd-primary3/php/QAtoolsLaunch.html">QA Tools launch</a></li>
		<li><a href="http://wiki.epnet.com/twiki/bin/view/Technology/NotifyWikiReport">QC Active report</a></li>
		<li><a href="http://epic/departments/eissales/Pages/tryourproducts.aspx">Try our products</a></li>
		<li><a href="http://jirasrv1.epnet.com:8080">Jira</a></li>
        <li><a href="http://epic/departments/technologyandservices/ddp/qa/Pages/IntroQA.aspx">DDP QA epic page</a></li>
        <li><a href="http://confluence/display/ddp/Quality+Assurance">DDP QA Confluence page</a></li>
	</ul>

<% end -%>

<p>
Welcome to the DDPQA AutoQC Launch Pad. Select the tabs above to browse the options available to you.
  To return home to this page, no matter where you are, please select Dashboard in the upper right hand corner of your browser window.

</p>
<p>
  Your user experience is important to us. Please send feedback to DDPQAAutomationTeam@epnet.com so we can continue to improve this service.
  If you find a defect, please submit a defect in JIRA for the project AutoQA.
</p>

